com.antennahouse.dita.dita13.doctypes/doctypes/rng/base/rng/commonElementsMod.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng"
                         schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:dita="http://dita.oasis-open.org/architecture/2005/"
    xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns:sch="http://purl.oclc.org/dsdl/schematron"
    xmlns:fo="http://www.w3.org/1999/XSL/Format"
    xmlns:css="http://www.w3.org/TR/CSS2">
    <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
        <moduleTitle>DITA Common Elements</moduleTitle>
        <headerComment><![CDATA[
=============================================================
                   HEADER                                    
=============================================================
 MODULE:    DITA Common Elements                             
 VERSION:   1.2                                              
 DATE:      November 2009                                    
                                                             
=============================================================

=============================================================
                   PUBLIC DOCUMENT TYPE DEFINITION           
                   TYPICAL INVOCATION                        
                                                             
 Refer to this file by the following public identifier or an 
      appropriate system identifier 
PUBLIC "-//OASIS//ELEMENTS DITA Common Elements//EN"
      Delivered as file "commonElements.mod"                      
      
=============================================================
SYSTEM:     Darwin Information Typing Architecture (DITA)    
                                                             
PURPOSE:    Declaring the elements and specialization        
            attributes for content elements used in both     
            topics and maps.                                 
                                                             
ORIGINAL CREATION DATE:                                      
            June 2006                                        
                                                             
            (C) Copyright OASIS Open 2005, 2009.             
            (C) Copyright IBM Corporation 2001, 2004.        
            All Rights Reserved.                             
                                                             
 UPDATES:                                                    
   2006.06.06 RDA: Add data element                          
   2006.06.07 RDA: Add @scale to image                       
   2006.06.07 RDA: Add index-base element                    
   2006.06.07 RDA: Make universal attributes universal       
                     (DITA 1.1 proposal #12)                 
   2006.06.07 RDA: Add unknown element                       
   2006.06.14 RDA: Add dir attribute to localization-atts    
   2006.11.30 RDA: Add -dita-use-conref-target to enumerated 
                     attributes                              
   2007.12.01 EK:  Reformatted DTD modules for DITA 1.2       
   2008.01.28 RDA: Add draft-comment to shortdesc            
   2008.01.28 RDA: Remove enumeration for @disposition on    
                   draft-comment                             
   2008.01.29 RDA: Extend content of figgroup                
   2008.01.30 RDA: Add %conref-atts; and @conaction          
   2008.02.01 RDA: Added keyref to data, data-about          
                   Added conkeyref attr to conref attr entity
   2008.02.12 RDA: Added text element, added to keyword, tm, 
                   term, ph. Added ph to alt.                
   2008.02.12 RDA: Added longdescref; add to image, object   
   2008.02.12 RDA: Modify imbeds to use specific 1.2 version 
   2008.02.12 RDA: Move navtitle decl. here from topic.mod   
   2008.02.13 RDA: Create .content and .attributes entities  
   2008.11.10 RDA: Make href optional on image      
   2015.07.05 AH:  Added style attributes      
                   Added flaot attribute to fig,figgroup
                   Added desc to figgroup
=============================================================     
 ]]></headerComment>
        <moduleMetadata>
            <moduleType>base</moduleType>
            <moduleShortName>commonElements</moduleShortName>
            <modulePublicIds>
                <dtdMod>-//ANTENNA HOUSE//ELEMENTS DITA<var presep=" " name="ditaver"/> Common Elements//EN</dtdMod>
                <dtdEnt>-//ANTENNA HOUSE//ENTITIES DITA<var presep=" " name="ditaver"/> Common Elements//EN</dtdEnt>
                <xsdMod>urn:x-antennahouse:dita:xsd:commonElementMod.xsd<var presep=":" name="ditaver"/></xsdMod>
                <xsdGrp>urn:x-antennahouse:dita:xsd:commonElementGrp.xsd<var presep=":" name="ditaver"/></xsdGrp>
                <rncMod>urn:x-antennahouse:dita:rnc:commonElementsMod.rnc<var presep=":" name="ditaver"/></rncMod>
                <rngMod>urn:x-antennahouse:dita:rng:commonElementsMod.rng<var presep=":" name="ditaver"/></rngMod>
            </modulePublicIds>
            <domainsContribution/>
        </moduleMetadata>
    </moduleDesc>
    <div>
        <a:documentation>COMMON ATTRIBUTE SETS OVERRIDES</a:documentation>
        <include href="urn:oasis:names:tc:dita:rng:commonElementsMod.rng">
            <div>
                <a:documentation>Add style attributes</a:documentation>
                <define name="univ-atts">
                    <ref name="id-atts"/>
                    <ref name="select-atts"/>
                    <ref name="localization-atts"/>
                    <ref name="style-atts"/>
                </define>
                <define name="univ-atts-translate-no">
                    <ref name="id-atts"/>
                    <ref name="select-atts"/>
                    <ref name="localization-atts-translate-no"/>
                    <ref name="style-atts"/>
                </define>
                <define name="title.attributes">
                    <ref name="id-atts"/>
                    <ref name="localization-atts"/>
                    <optional>
                        <attribute name="base"/>
                    </optional>
                    <ref name="base-attribute-extensions"/>
                    <optional>
                        <attribute name="outputclass"/>
                    </optional>
                    <optional>
                        <attribute name="rev" dita:since="1.3"/>
                    </optional>
                    <ref name="style-atts"/>
                </define>
                <define name="dita.entry.attributes">
                    <ref name="id-atts"/>
                    <ref name="localization-atts"/>
                    <!-- rotate      (0|1|-dita-use-conref-target) -->
                    <optional>
                        <attribute name="rotate" dita:since="1.3">
                            <ref name="yesorno"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="rev"/>
                    </optional>
                    <optional>
                        <attribute name="outputclass"/>
                    </optional>
                    <optional>
                        <attribute name="scope" dita:since="1.3">
                            <choice>
                                <value>row</value>
                                <value>col</value>
                                <value>rowgroup</value>
                                <value>colgroup</value>
                                <value>-dita-use-conref-target</value>
                            </choice>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="headers" dita:since="1.3">
                            <data type="NMTOKENS"/>
                        </attribute>
                    </optional>
                    <ref name="style-atts"/>
                </define>
            </div>
            <div>
                <a:documentation>Add @float to fig,figgroup</a:documentation>
                <define name="fig.attributes">
                    <ref name="display-atts"/>
                    <optional>
                        <attribute name="spectitle"/>
                    </optional>
                    <ref name="univ-atts"/>
                    <optional>
                        <attribute name="outputclass"/>
                    </optional>
                    <ref name="fig-float-atts"/>
                </define>
                <define name="figgroup.attributes">
                    <ref name="univ-atts"/>
                    <optional>
                        <attribute name="outputclass"/>
                    </optional>
                    <ref name="fig-float-atts"/>
                </define>
            </div>
            <div>
                <a:documentation>Add desc to figgroup</a:documentation>
                <define name="figgroup.content">
                    <optional>
                        <ref name="title"/>
                    </optional>
                    <optional>
                        <ref name="desc"/>
                    </optional>
                    <zeroOrMore>
                        <choice>
                            <ref name="figgroup"/>
                            <ref name="figgroup.cnt"/>
                        </choice>
                    </zeroOrMore>
                </define>
            </div>
        </include>
    </div>
    <div>
        <a:documentation>Style attribute definition</a:documentation>
        <define name="style-atts">
            <optional>
                <attribute name="prop" ns="http://www.w3.org/1999/XSL/Format"/>
            </optional>
            <optional>
                <attribute name="prop" ns="http://www.w3.org/TR/CSS2"/>
            </optional>
        </define>
    </div>
    <div>
        <a:documentation>Fig float attribute definition</a:documentation>
        <define name="fig-float-atts">
            <optional>
                <attribute name="float">
                    <choice>
                        <value>none</value>
                        <value>left</value>
                        <value>right</value>
                    </choice>
                </attribute>
            </optional>
        </define>
    </div>
</grammar>
